.App {
  text-align: center;
  border: 2px black solid;
  background-color: coral;
  margin: 0px 20%;
  height: 1000px;
}

input {
  padding: 12px 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: none;
  width: 200px;
}

button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: coral;
  border: none;
}

button:hover {
  background-color: rgb(255, 68, 0);
}

