.card {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 5px;
    filter: grayscale(70%);
    object-fit: cover;
    overflow: hidden;
    transition: all 0.5s linear;
}

.card:hover{
    filter: grayscale(0%);
    margin: 25px;
}