.card {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: black 1px solid;
    margin: 5px;
    filter: grayscale(70%);
    object-fit: cover;
    overflow: hidden;
}

.card:hover{
    filter: grayscale(0%);
}